<div id="page-content">
    <h1 class="text-center mt-4"> Listing all articles </h1>
    <div class="apple_pagination">
        <%= will_paginate @page, :container => false %>
    </div>
      <%= render 'articles', obj: @page%>
    <div class="apple_pagination">
        <%= will_paginate @page, :container => false %>
    </div>
</div>
