<div class="container">
    <% flash.each do |name, msg|%>
        <% if name == "notice" %>
            <div class="alert alert-success justify-content-center" role="alert">
        <% else%>
            <div class="alert alert-danger justify-content-center" role="alert">
        <% end %>
            <%= msg %>
        </div>  
    <%end%>
</div>

